@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-background: #000000;
  --color-secondary-background: #0A0A0A;
  --color-primary-border: #2E2E2E;
  --color-primary-text: #FFFFFF;
  --color-error-text: #fb2c36;
  --color-secondary-text: #8E8E8E;
  --color-primary-accent: #EF6262;
  --color-primary-accent-hover: #F49191;
  --color-secondary-accent-hover: #171717;  

}