name: Cleanup PR resources

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  delete_neon_branch:
    name: Delete Neon Branch
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v3
        with:
          project_id: ${{ vars.NEON_PROJECT_ID }}
          branch: preview/pr-${{ github.event.number }}-${{ github.event.pull_request.head.ref }}
          api_key: ${{ secrets.NEON_API_KEY }}
